/* Append Home Container styles */
.append-home-container {
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: -70px;
    padding: 20px;
    border: 1px solid #efebeb;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .space1{
    margin-top: 10%;
}
  
  /* Append Home Page styles */
  .append-home-page {
    padding: 0; /* Remove the padding from the inner div to fit the container */
  }
  
  .append-home-page h2 {
    margin-top: 0;
  }
  
  .input-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .input-fields input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .input-fields button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  