/* Footer1.css */

/* Footer styles */
.footer1 {
  
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2c3e50;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  z-index: 1; /* Ensure it's above other content */
  width: 100%; /* Ensure the footer spans the full width of the page */
  
}

/* Style the footer content */
.footer1-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* Footer links and text */
.footer1 p {
  margin: 0;
  color: beige;
  font-size: 14px;
}

.footer1-links {
  margin-top: 10px;
  display: flex; /* Display links in a row */
  justify-content: center; /* Center the links horizontally */
  cursor: pointer;
}

.footer1-links div {
  cursor: pointer;
  color: #fff;
  margin: 0 10px;
  font-size: 16px;
}



/* Social media links */
.social-media-links {
  margin-top: 20px;
  display: flex; /* Display icons in a row */
  justify-content: center; /* Center the icons horizontally */
  align-items: center; /* Center vertically within the footer */

}

.social-media-icon {
  font-size: 20px;
  color: #fff;
  margin: 0 10px;
}
.social-media-icon:hover {
  color: #007bff; /* Change to your desired hover color */
}
