/* PrivacyPolicy.css */

.privacy-policy-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .privacy-policy-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .privacy-policy-container h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .privacy-policy-container p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
  }
  