/* Footer.css */
/* Footer.css */

/* Set a minimum height for the content area to push the footer down */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Footer styles */
.footer {
  background-color: #2c3e50;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed; /* Position the footer at the bottom of the viewport */
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Ensure it's above other content */
}

/* ... (rest of your footer styles) */


.footer-content {
  display: flex;
  flex-direction: column;
  color: beige;
  align-items: center;
}

.footer p {
  margin: 0;
  color: beige;
  font-size: 14px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links span,
.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-media-links {
  margin-top: 20px;
}

.social-media-icon {
  font-size: 20px;
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.social-media-icon:hover {
  color: #007bff; /* Change to your desired hover color */
}
